html{
  background-color: aliceblue;
  background-image: linear-gradient(to right, aliceblue, rgba(0, 4, 250, 0.658));
}


body {
  margin: 0;
  height: 100vh;
}

.container{
  display: flex;
  height: 100vh;
}

.lado-esquerdo{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

h1{
  font-size: 50px;
  padding: 50px;
  color:white;
  
}

.cursor {
  display: inline-block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
}

.typewriter-animation {
  animation:
    typewriter 3s steps(21, end) forwards,
    blinkingCursor 0.5s infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 21ch;
  }
}

@keyframes blinkingCursor {
  50% {
    border-right-color: transparent;
  }
}


.lado-direito{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.caixa {
  width: 400px;
  height: 300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0px solid gainsboro;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(71, 60, 168, 0.514), 0 6px 20px 0 rgba(71, 60, 168, 0.514);
  transition: 0.3s ease;
  transform-origin: top center;
}

.caixa:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 25px;
  display: flex;
  align-content: flex-start;
  color:rgb(68, 68, 117)
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input:focus{
  outline-color: rgba(0, 81, 255, 0.288);
}

button{
  background-color: rgba(68, 0, 255, 0.877);
  cursor:pointer;
  height: 50px;
}

.btn {
  color: #646cff;
  border: 2px solid #646cff;
  transition: all 0.3s ease;
}

.liquid {
  background: linear-gradient(#646cff 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}

input,
button {
  width: 130%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  color: rgb(121, 121, 121);
  
}

input::placeholder {
  font-size: 13px;
  opacity: 50%;
}